.main-1{
    position: absolute;
    align-content: center;
    top: 12%;
    left: 15%;
    width: 70%;
}

.main-7{
    position: absolute;
    align-content: center;
    top: 12%;
}

.main-2{
    position: absolute;
    top: 8%;
    left: 30%;
}

.main-3{
    width:35%;
    position: absolute;
    left: 16%;
    top: 14%;
}

.main-4{
    width:34%;
    position: absolute;
    left: 51%;
    top: 14%;
}

.main-5{
    background-color: rgba(93,94,94,0.7);
    margin: 2px;
    padding: 5px;
}

.main-6{
    color: rgb(0,0,0);
    text-align:center;
    font-weight: bold;
    padding: 2%;
}

.main-10{
    position: absolute;
    align-content: center;
    top: 4%;
    left: 40%;
}

.main-12{
    color: rgb(255,255,255);
    padding: 2%;
}

.main-11{
    text-align: center;
    }

.main-13{
    background-color: #b6effb;
    position: absolute;
    top: 30%;
    left: 1%;
    width: 14%;
    height: 40%;
}

.main-22{
    width:37%;
    position: absolute;
    left: 14%;
    top: 14%;
}

.main-23{
    width:37%;
    position: absolute;
    left: 51%;
    top: 14%;
}

.main-24{
    width:70%;
    position: absolute;
    left: 15%;
    top: 14%;
}

.main-25{
    background-color: rgba(140,94,94,0.7);
    margin: 2px;
    padding: 5px;
}

.main-26{
    background-color: rgba(94,140,94,0.7);
    margin: 2px;
    padding: 5px;
}


.main-8{
    position: absolute;
    align-content: center;
    top: 16%;
    left: 40%;
    width: 15%;
}


.main-9{
    position: absolute;
    background-color: rgba(175,238,238,0.7);

    align-content: center;
    top: 14%;
    left: 15%;
    width: 70%;
}

.main-14{
    position: absolute;
    align-content: center;
    top: 70%;
    left: 45%;
    width: 10%;
}

.main-15{
    position: absolute;
    align-content: center;
    top: 15%;
    left: 10%;
    width: 80%;
}

.main-50{
    position: absolute;
    align-content: center;
    top: 12%;
    left: 35%;
    width: 30%;
}

.main-51{
    position: absolute;
    top: 8%;
    left: 23%;
}

.main-52{
    position: absolute;
    top: 8%;
    left: 35%;
}
